*{margin:0;padding:0;box-sizing:border-box;}

.body {
        background:antiquewhite;
}

.menu-nav {
    background-color:transparent;
    margin-top:0px;
    padding-left:600px;
}

.menu-nav__item {
    display: inline-block; /*cambia la lista de vertical a horizontal*/
    position: relative; /*permite cambiar la posicion del elemento, en  este caso del menu*/
    bottom: 60px;
    left: 40px;
    font-family: sans-serif;
}

.menu-nav__item a {
    color:black;
    padding:15px;
    text-decoration:none;  /*Elimina el subrayado del texto cuando es un enlace*/
    
}

/*Pseudo clase*/
.menu-nav__item a:hover {  /*Aplica color cuando se pasa el mouse sobre el texto*/
   color: orange;
}

.menu-nav__item a:active { /*Aplica color cuando se da clic sobre el texto*/
    color:blue;
}

/*Pseudo elemento*/
/*.menu-nav__item a::after {*/ /*Coloca un valor indicado despues del elemento*/
    /*content: " | ";
}*/

.first-section {
    width: 100%;
    height: 100vh;
    background: url(".img/first-image.png");
    background-size: cover;
    background-position: center;
}